<!DOCTYPE html>
<html>
<head>
  <title>Add Psychologist</title>
  <!-- เพิ่ม CSS สำหรับสไตล์หน้าเว็บ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5 border p-3">
    <div class="d-flex justify-content-between mt-4">
        <h1>Add Psychologist</h1>
        <a href="/admin/dashboard" class="btn btn-secondary h-50">กลับ</a>
    </div>
    <form class="mt-4" method="POST" action="/admin/add">
      <div class="form-group">
        <label for="UserName">UserName:</label>
        <input type="text" class="form-control" name="UserName" required>
      </div>
      <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" class="form-control" name="FirstName" required>
      </div>
      <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" class="form-control" name="LastName" required>
      </div>
      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" name="Email" required>
      </div>
      <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" class="form-control" name="Password" required>
      </div>
      <div class="form-group">
        <label for="Tel">Telephone:</label>
        <input type="text" class="form-control" name="Tel" required>
      </div>
      <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" class="form-control" name="Address" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Psychologist</button>
    </form>
  </div>

  <!-- เพิ่มสคริปต์ Bootstrap และ jQuery (ถ้าจำเป็น) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
